<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CPS検証ページ</title>
</head>

<body>
  <script nonce="<%= nonce %>">
    alert("Hello, CSP!");
  </script>

</body>

</html>